* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy' , sans-serif;
    color: #ffffff;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Added to position cursor inside this container */
}

.cursor {
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1s;
    mix-blend-mode: difference;
}

h1 {
    font-size: 15vw;
    font-weight: 900;
}
